<h2> These are all posts </h2>

<%= render partial: "users/user", object: @user %>

<% @posts.each do |post| %>

<div>

      <h5> <%= link_to "Post##{post.id}", user_post_path(@user.id,post.id)%> </h5>
    <h3> <%= post.title %></h3>
    <p> <%= post.text %> </p>
</div>
<ul>
<% post.recent_comments.each do |comment|%>
     <li><%= comment.text %></li>
<%end%>
 </ul>
<div>
<h5>Number of Likes:</h5> <%= post.likes_counter%>
<h5>Number of comments:</h5> <%= post.comments_counter%>
 </div>






<% end %>